pipeline/PL Fact Stage Duplicate Check1.json
{
	"name": "PL Fact Stage Duplicate Check1",
	"properties": {
		"activities": [
			{
				"name": "LKP_StgTables_Duplicate_Records_Count",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[PROC_CT_ETL_TASK_TABLE_DUPLICATES_CHECK]",
						"storedProcedureParameters": {
							"StgTable": {
								"type": "String",
								"value": {
									"value": "@{pipeline().parameters.StgTableName}",
									"type": "Expression"
								}
							},
							"TaskPhase": {
								"type": "String",
								"value": {
									"value": "@{pipeline().parameters.TaskPhase}",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CT_ETL_TASK_CONTROL_G",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "IF_Duplicate_Count_Check",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LKP_StgTables_Duplicate_Records_Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('LKP_StgTables_Duplicate_Records_Count').output.firstRow.output_result,'No Duplicates')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Var_DupsInfo",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "emailBody",
								"value": {
									"value": "@{activity('LKP_StgTables_Duplicate_Records_Count').output.firstRow.output_result}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Web_Send_FactStageDupRecords_Info",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Var_DupsInfo",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://prod-18.centralus.logic.azure.com:443/workflows/b70174ccb5604bd8be78b3102915a11d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=Vs-9gIuEFdFV6YRJqg5yQPiNHO2wbLy6GD-Fyu0yCcM",
									"type": "Expression"
								},
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "{\"emailBody\":\"@{variables('emailBody')}\"}",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Var_NoDups",
							"description": "",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "TrueVar",
								"value": "No Duplicates"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TaskPhase": {
				"type": "string"
			},
			"StgTableName": {
				"type": "string"
			}
		},
		"variables": {
			"emailBody": {
				"type": "String"
			},
			"TrueVar": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Anchor Packaging Prod"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-19T11:03:55Z"
	}
}