pipeline/PL Stage to Target - Fact_Load.json
{
	"name": "PL Stage to Target - Fact_Load",
	"properties": {
		"activities": [
			{
				"name": "LKP_TaskControl_StageToTarget_Records",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[UCM].[usp_CT_ETL_Task_Dependency_Status_Check]",
						"storedProcedureParameters": {
							"ETLRunStartTime": {
								"type": "DateTime",
								"value": {
									"value": "@{pipeline().parameters.ETLRunStartTime}",
									"type": "Expression"
								}
							},
							"ModuleName": {
								"type": "String",
								"value": {
									"value": "@{pipeline().parameters.ModuleName}",
									"type": "Expression"
								}
							},
							"TaskPhase": {
								"type": "String",
								"value": "Fact_Load"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_UCM_SQL_AzureSQL_DBTables",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Looping_StageToTarget_Records",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_TaskControl_StageToTarget_Records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_TaskControl_StageToTarget_Records').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "LKP_Get_Task_StartTimeStamp",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "Select DATEADD(MI, 330, GETDATE()) AS Task_Start_TimeStamp",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_UCM_SQL_AzureSQL_DBTables",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "LKP_StagingProcedures_Run",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "LKP_Get_Task_StartTimeStamp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": {
										"value": "@{item().Procedure_Name}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_UCM_SQL_AzureSQL_DBTables",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "SP_TaskControl_Update",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "LKP_StagingProcedures_Run",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[UCM].[usp_CT_ETL_task_control_G_Update]",
								"storedProcedureParameters": {
									"TargetTableName": {
										"value": {
											"value": "@{item().Target}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TaskStartTimeStamp": {
										"value": {
											"value": "@{activity('LKP_Get_Task_StartTimeStamp').output.firstRow.Task_Start_TimeStamp}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_TaskRunLog_Success_Insert",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SP_TaskControl_Update",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[UCM].[usp_CT_ETL_Task_run_log_G_Success_Update]",
								"storedProcedureParameters": {
									"ETLRunNumber": {
										"value": "0",
										"type": "Int32"
									},
									"ModuleName": {
										"value": {
											"value": "@{item().Module_Name}",
											"type": "Expression"
										},
										"type": "String"
									},
									"NoOfRowsDelete": {
										"value": {
											"value": "@activity('LKP_StagingProcedures_Run').output.firstRow.DeleteCount",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"NoOfRowsInserted": {
										"value": {
											"value": "@activity('LKP_StagingProcedures_Run').output.firstRow.InsertCount",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"NoOfRowsUpdated": {
										"value": {
											"value": "@activity('LKP_StagingProcedures_Run').output.firstRow.UpdateCount",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"PipilineName": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunID": {
										"value": {
											"value": "@{pipeline().parameters.RunID}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": "Succeeded",
										"type": "String"
									},
									"TargetTableName": {
										"value": {
											"value": "@{item().Target}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TaskKey": {
										"value": {
											"value": "@item().Task_Key",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"TaskName": {
										"value": {
											"value": "@{item().Task_Name}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TaskStartTimeStamp": {
										"value": {
											"value": "@{activity('LKP_Get_Task_StartTimeStamp').output.firstRow.Task_Start_TimeStamp}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Capture_ErrorMessage",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "LKP_StagingProcedures_Run",
									"dependencyConditions": [
										"Failed",
										"Skipped"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "errorMessage",
								"value": {
									"value": "@concat(\nactivity('LKP_Get_Task_StartTimeStamp')?.Error?.message,'|',\nactivity('LKP_StagingProcedures_Run')?.Error?.message\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SP_TaskRunLog_Failures_Insert",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Capture_ErrorMessage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[UCM].[usp_CT_ETL_Task_run_log_G_Failure_Update]",
								"storedProcedureParameters": {
									"ErrorMessage": {
										"value": {
											"value": "@variables('errorMessage')",
											"type": "Expression"
										},
										"type": "String"
									},
									"ETLRunNumber": {
										"value": "0",
										"type": "Int32"
									},
									"ModuleName": {
										"value": {
											"value": "@{item().Module_Name}",
											"type": "Expression"
										},
										"type": "String"
									},
									"NoOfRowsDelete": {
										"value": "0",
										"type": "Int32"
									},
									"NoOfRowsInserted": {
										"value": "0",
										"type": "Int32"
									},
									"NoOfRowsUpdated": {
										"value": "0",
										"type": "Int32"
									},
									"PipilineName": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunID": {
										"value": {
											"value": "@{pipeline().parameters.RunID}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": "Failed",
										"type": "String"
									},
									"TargetTableName": {
										"value": {
											"value": "@{item().Target}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TaskKey": {
										"value": {
											"value": "@item().Task_Key",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"TaskName": {
										"value": {
											"value": "@{item().Task_Name}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TaskStartTimeStamp": {
										"value": {
											"value": "@{activity('LKP_Get_Task_StartTimeStamp').output.firstRow.Task_Start_TimeStamp}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ETLRunStartTime": {
				"type": "string"
			},
			"RunID": {
				"type": "string"
			},
			"ModuleName": {
				"type": "string"
			}
		},
		"variables": {
			"errorMessage": {
				"type": "String"
			}
		},
		"folder": {
			"name": "OracleUCM_to_Azure_Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-25T14:22:40Z"
	}
}