pipeline/PL Source to Stage - Dim Extract1.json
{
	"name": "PL Source to Stage - Dim Extract1",
	"properties": {
		"activities": [
			{
				"name": "LKP_TaskControl_SourceToStage_Records",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT\t*\nFROM\t[dbo].[CT_ETL_task_control_G]\nWHERE\tTask_Phase in ('Dim_Extract') AND \n(\nModule_Name = '@{pipeline().parameters.ModuleName}' OR\nModule_Name = 'Common Dimension' OR\n'@{pipeline().parameters.ModuleName}' = 'All'\n)",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_CT_ETL_TASK_CONTROL_G",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Looping_SourceToStage_Records",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_TaskControl_SourceToStage_Records",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_TaskControl_SourceToStage_Records').output.value",
						"type": "Expression"
					},
					"batchCount": 2,
					"activities": [
						{
							"name": "LKP_Get_Last_Successful_Start_Timestamp",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "Select Last_Successful_Start_Timestamp AS Last_Successful_Start_Timestamp\nFrom dbo.CT_ETL_task_control_G\nWhere Target = '@{item().Target}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_CT_ETL_TASK_CONTROL_G",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "LKP_Get_Task_Start_Timestamp",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT CAST(SYSDATETIMEOFFSET() AT TIME ZONE 'Central Standard Time' AS DATETIME)  AS Task_Start_TimeStamp",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_CT_ETL_TASK_CONTROL_G",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "CopyData_Source_to_Stage",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "LKP_Get_Task_Start_Timestamp",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "LKP_Get_Last_Successful_Start_Timestamp",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "@{replace(\nitem().SQL_Text, \n'$$LAST_EXTRACT_DATE$$',\nformatDateTime(item().Last_Successful_Start_Timestamp, 'yyyy-MM-dd HH:mm:ss')\n)}",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{concat('Truncate Table dbo.',item().Target)}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_OracleEBS_Tables_PRD_Anchorpac",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_StagingTables",
									"type": "DatasetReference",
									"parameters": {
										"StagingTableName": "@{item().Target}"
									}
								}
							]
						},
						{
							"name": "SP_TaskControl_Update",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CopyData_Source_to_Stage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[PROC_CT_ETL_TASK_CONTROL_G_UPDATE]",
								"storedProcedureParameters": {
									"TargetTableName": {
										"value": {
											"value": "@{item().Target}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TaskStartTimeStamp": {
										"value": {
											"value": "@activity('LKP_Get_Task_Start_Timestamp').output.firstRow.Task_Start_TimeStamp",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_TaskRunLog_Success_Insert",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SP_TaskControl_Update",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[PROC_CT_ETL_TASK_RUN_LOG_G_SUCCESS_UPDATE]",
								"storedProcedureParameters": {
									"ETLRunNumber": {
										"value": "0",
										"type": "Int32"
									},
									"NoOfRowsDelete": {
										"value": "0",
										"type": "Int32"
									},
									"NoOfRowsInserted": {
										"value": {
											"value": "@activity('CopyData_Source_to_Stage').output.rowsCopied",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"NoOfRowsUpdated": {
										"value": "0",
										"type": "Int32"
									},
									"PipilineName": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunID": {
										"value": {
											"value": "@{pipeline().parameters.RunID}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": {
											"value": "@{activity('CopyData_Source_to_Stage').output.executionDetails[0].status}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TargetTableName": {
										"value": {
											"value": "@{item().Target}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TaskKey": {
										"value": {
											"value": "@item().Task_Key",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"TaskName": {
										"value": {
											"value": "@{item().Task_Name}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TaskStartTimeStamp": {
										"value": {
											"value": "@{activity('LKP_Get_Task_Start_Timestamp').output.firstRow.Task_Start_TimeStamp}",
											"type": "Expression"
										},
										"type": "String"
									},
									"ModuleName": {
										"value": {
											"value": "@{item().Module_Name}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Capturing_Error_Message",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "CopyData_Source_to_Stage",
									"dependencyConditions": [
										"Failed",
										"Skipped"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "errorMessage",
								"value": {
									"value": "@concat(\nactivity('LKP_Get_Last_Successful_Start_Timestamp')?.Error?.message,'|',\nactivity('LKP_Get_Task_Start_Timestamp')?.Error?.message,'|',\nactivity('CopyData_Source_to_Stage')?.Error?.message\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SP_TaskRunLog_Failures_Insert",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Capturing_Error_Message",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[PROC_CT_ETL_TASK_RUN_LOG_G_FAILURE_UPDATE]",
								"storedProcedureParameters": {
									"ErrorMessage": {
										"value": {
											"value": "@variables('errorMessage')",
											"type": "Expression"
										},
										"type": "String"
									},
									"ETLRunNumber": {
										"value": "0",
										"type": "Int32"
									},
									"NoOfRowsDelete": {
										"value": "0",
										"type": "Int32"
									},
									"NoOfRowsInserted": {
										"value": "0",
										"type": "Int32"
									},
									"NoOfRowsUpdated": {
										"value": "0",
										"type": "Int32"
									},
									"PipilineName": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunID": {
										"value": {
											"value": "@{pipeline().parameters.RunID}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Status": {
										"value": "Failed",
										"type": "String"
									},
									"TargetTableName": {
										"value": {
											"value": "@{item().Target}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TaskKey": {
										"value": {
											"value": "@item().Task_Key",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"TaskName": {
										"value": {
											"value": "@{item().Task_Name}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TaskStartTimeStamp": {
										"value": {
											"value": "@{activity('LKP_Get_Task_Start_Timestamp').output.firstRow.Task_Start_TimeStamp}",
											"type": "Expression"
										},
										"type": "String"
									},
									"ModuleName": {
										"value": {
											"value": "@{item().Module_Name}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Web_Send_Failure_Message",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "SP_TaskRunLog_Failures_Insert",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://prod-10.centralus.logic.azure.com:443/workflows/c32ebdab46c745f28c2aac07a949205d/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=dLL7x35HeeUzyBgodayLDFpHPcI4qO08FKd5nabW5UA",
									"type": "Expression"
								},
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "{\n\"Pipeline\":\"@{pipeline().Pipeline}\",\n\"RunId\":\"@{pipeline().RunId}\",\n\"ErrorMessage\":\"@{variables('errorMessage')}\"\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"RunID": {
				"type": "string"
			},
			"ModuleName": {
				"type": "string"
			}
		},
		"variables": {
			"errorMessage": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Anchor Packaging Prod"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-19T11:03:27Z"
	}
}