pipeline/PL_Silver_BIP_Reports_Dev.json
{
	"name": "PL_Silver_BIP_Reports_Dev",
	"properties": {
		"activities": [
			{
				"name": "LKP_Get_PVO_Details",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select bronze_folder_name, primary_key_columns,\n'bip_reports/'+bronze_folder_name as sink_path\nfrom Fusion_ERP.CT_ETL_BIP_REPORTS_G where 1 = 1\n-- report_name = 'DOO_HEADERS_EFF_B'\nand report_status = 'active'\n/*and primary_key_columns is not null\nand bronze_folder_name in ('ap_checks_all')\n*/",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_FUSION_ERP_CT_ETL_TASK_CONTROL_G1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach PVO Parquet File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_Get_PVO_Details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_Get_PVO_Details').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 2,
					"activities": [
						{
							"name": "PL_SILVER_INNER",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_Silver_BIP_Reports Inner_Dev",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"source": {
										"value": "@item().bronze_folder_name",
										"type": "Expression"
									},
									"primarykeys": {
										"value": "@item().primary_key_columns",
										"type": "Expression"
									},
									"target": {
										"value": "@item().bronze_folder_name",
										"type": "Expression"
									},
									"modulename": "module_name",
									"sinkpath": {
										"value": "@item().sink_path",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Move Parquet to Archive",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "PL_SILVER_INNER",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat('bip_reports/in/',item().bronze_folder_name)",
											"type": "Expression"
										},
										"wildcardFileName": "*.parquet",
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sourcepvo",
									"type": "DatasetReference",
									"parameters": {
										"directory": {
											"value": "@concat('bip_reports/in/',item().bronze_folder_name)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "archivepvo",
									"type": "DatasetReference",
									"parameters": {
										"directory": {
											"value": "@concat('bip_reports/archive/',item().bronze_folder_name)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete Parquet File",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Move Parquet to Archive",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "sourcepvo",
									"type": "DatasetReference",
									"parameters": {
										"directory": {
											"value": "@concat('bip_reports/in/',item().bronze_folder_name)",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "AzureDataLakeStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "log-files"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.parquet",
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Update Control Table",
							"description": "",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "PL_SILVER_INNER",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "update Fusion_ERP.CT_ETL_BIP_REPORTS_G\nset last_successful_runtime_silver = getdate()\nwhere 1=1\nand report_status = 'active'\nand bronze_folder_name = '@{item().bronze_folder_name}'",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"variables": {
			"azure_function_responce": {
				"type": "Boolean"
			},
			"pvos_with_no_data": {
				"type": "String"
			},
			"LogDetails": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Archrock - Dev"
		},
		"annotations": [],
		"lastPublishTime": "2023-06-20T10:25:54Z"
	}
}